/*!CK:4087512801!*//*1379297150,168639571*/

.sp_2n8z86{background-image:url(/rsrc.php/v2/y6/r/uIGYePqTQj3.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_a8dbbc{background-position:-16px -118px}
.selected .sx_a8dbbc{background-position:0 -118px}
.sx_746b5d{width:1px;height:1px;background-position:-197px -27px}
.sx_24342e{height:10px;background-position:-103px -135px}
.sx_3b1af2{width:11px;height:11px;background-position:-4px -8px}
.sx_f5371a{width:17px;height:17px;background-position:0 -135px}
.sx_482746{width:11px;height:7px;background-position:-175px -135px}
.sx_a595bb{width:11px;height:7px;background-position:-163px -135px}
.sx_9a9abf{width:17px;background-position:-33px -118px}
.sx_59fb4f{width:13px;height:14px;background-position:-14px -153px}
.sx_7f7e49{height:14px;background-position:-69px -135px}
.sx_b99893{background-position:-170px -118px}
.sx_45d765{width:9px;height:5px;background-position:-187px -130px}
.sx_4f1fa4{background-position:-102px -118px}
.sx_adb6b6{background-position:-85px -118px}
.sx_58f04b{background-position:-68px -118px}
.sx_2b2c3b{background-position:-51px -118px}
.sx_c8c326{height:10px;background-position:-120px -135px}
.sx_2cde07{width:13px;height:10px;background-position:-137px -135px}
.sx_6f75c5{width:12px;height:11px;background-position:-187px -118px}
.sx_79a8b4{background-position:-119px -118px}
.sx_023699{height:15px;background-position:-52px -135px}
.sx_c455a3{width:13px;background-position:0 -153px}
.sx_0a5d08{background-position:-136px -118px}
.sx_80378d{height:15px;background-position:-35px -135px}
.sx_0a51ac{width:9px;height:5px;background-position:-187px -136px}
.sx_317041{height:17px;background-position:-18px -135px}
.sx_b3dae1{width:11px;height:9px;background-position:-151px -135px}
.sx_1aef05{background-position:-153px -118px}
.sx_8b106c{height:10px;background-position:-86px -135px}
.sx_9edbb2{width:5px;height:3px;background-position:-191px -27px}
.sx_2b5c8e{width:190px;height:90px;background-position:0 -27px}

#bootloader_6LMar { height: 42px; }
.bootloader_6LMar { display:block !important; }