/*!CK:3280544413!*//*1379297146,168578329*/

.sp_ayi7yp{background-image:url(/rsrc.php/v2/y4/r/7jDB0qObkkc.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_2ee077{background-position:-29px -69px}
.sx_0048b2{width:29px;height:29px;background-position:-16px -11px}
.sx_cfa31e{width:19px;height:25px;background-position:0 -69px}
.sx_c50cd1{background-position:0 -108px}
.sx_5225f4{background-position:-17px -108px}
.sx_5c1b8b{width:17px;background-position:-17px -52px}
.selected .sx_5c1b8b{background-position:0 -52px}
.sx_f77919{width:12px;height:12px;background-position:-13px -95px}
.selected .sx_f77919{background-position:0 -95px}
.sx_40b4a8{height:15px;background-position:0 -125px}

#bootloader_M4gQU { height: 42px; }
.bootloader_M4gQU { display:block !important; }