/*!CK:1801726755!*//*1379521723,179394627*/


._24n .body ._24x{color:#333}
._6nw ._24n .body ._24x{color:#4e5665}
._24n .body ._24x:hover{text-decoration:none}
._24n .body a.signature{color:#3b5998;display:inline}
._24n .body a.signature:hover{text-decoration:underline}
._24n .hover:hover .title ._24x{text-decoration:underline}
._24n .forceRTL{direction:rtl;text-align:right;display:block}
._24n .forceLTR{direction:ltr;text-align:left;display:block}
._24n .adInfo a.identity{color:gray;display:block;white-space:nowrap}
._6nw ._24n .adInfo a.identity{color:#898f9c;overflow:hidden;text-overflow:ellipsis}
._24n .title{font-weight:bold;margin-bottom:0 !important}
._24n .image_body_block{padding-top:3px}
._24n .uiUfi{width:auto}
._24n .fbEmuHidePoll .otherdiv .other{width:206px}
._24n .ads_rhc_close{opacity:0}
._24n:hover .old_x, ._24n:hover .uiSelectorButton, ._24n:hover .ads_rhc_close, ._24n .ads_rhc_close.openToggler, .emu_x .openToggler .uiSelectorButton{opacity:1}
._24y .image .img{padding-top:3px;max-height:72px;max-width:100px}
._24y .action{margin-top:5px}
._24y{line-height:13px}
._24y .fbEmuHide{margin-top:0 !important}
._24y .image{width:100px;display:block}
._24y .action{color:#777}
._24y .action .fbEmuContext ._24x{color:#777}
._6nw ._24y .action, ._6nw ._24y .action .fbEmuContext ._24x{color:#898f9c}
._24y .action ._24x{display:inline-block}
.fbEmuHidePoll .undo{float:right;padding-left:2px;padding-bottom:2px;margin-bottom:3px;margin-left:5px}
.fbEmuHidePoll .fbEmuXTitle{font-weight:bold}
.fbEmuHidePoll .fbEmuXSubtitle{margin-bottom:10px}
.fbEmuHideThanks .fbEmuXThanksTitle{font-weight:bold;margin-bottom:10px}
.fbEmuBlock .fbEmuHidePoll .otherdiv{margin-left:20px}
.emu_x{float:right}
.emu_x .uiSelectorButton{opacity:0}
.old_x{opacity:0}
._5fxh{margin:2px 0 4px;position:relative}
._5fxh:hover a{text-decoration:none}
._5fxh:hover .emu_x .uiSelectorButton{opacity:1}
._5i29{color:#999;font-size:11px}
._5fxm{padding-top:3px}
._5fxm ._5fxn{color:#333;font-size:11px;line-height:13px}
._5h83{display:block}
._5h83 ._5h84{display:inline;position:relative}
._5h83 ._5h85{color:#777;display:inline;font-size:11px;line-height:13px;position:relative}
._5fxi{padding-bottom:3px;padding-top:6px;position:relative}
._5hwt .img{max-height:72px;max-width:100px}
._5hwu .img{max-height:72px;max-width:128px}
._5fxi ._5hwv i{background-image:url(/rsrc.php/v2/yN/r/aERK2-5sOBX.png);bottom:6px;height:22px;left:3px;position:absolute;width:27px}
._5hwx{display:table-cell;vertical-align:middle}
._5hwx .img{max-height:90px;max-width:120px}
._5fxj ._5fxk{color:#3b5998;font-size:11px;line-height:13px}
._5fxj ._5fxl{color:#999;font-size:11px;inline-height:13px}
.fbCalendarListView #fbCalendarListWrapper{min-height:1200px}
.fbCalendarListView .fbCalendarList, .fbCalendarListView .fbCalendarPager{width:673px}
.fbCalendarListView .fbCalendarList .fbCalendarItemContent{width:568px}
.fbCalendarList .fbCalendarLabel{width:90px}
.fbCalendarList .fbCalendarItem .fbCalendarHoverElement{visibility:hidden}
.fbCalendarList .fbCalendarItem:hover .fbCalendarHoverElement{visibility:visible}
.fbCalendarList .fbCalendarActionList{display:inline-block}
.fbCalendarItemContent .fbCalendarActions .fbCalendarJoinIcon, .fbCalendarItemContent .fbCalendarActions .fbCalendarInviteIcon{margin-top:2px}
.fbCalendarItem .fbCalendarSuggestedEventPhoto{opacity:.5}
.fbCalendarItem:hover .fbCalendarSuggestedEventPhoto{opacity:1}
.fbCalendarItem .fbCalendarSuggestedEventLabel{color:gray}
.fbCalendarItem:hover .fbCalendarSuggestedEventLabel{color:#333}
.fbCalendarList .fbCalendarHideButton{position:relative;top:-17px}
.fbCalendarList .fbCalendarInlineHideButton{position:relative;top:-2px;display:block;width:16px;margin-left:5px}
.fbCalendarList .fbCalendarHideButton .uiLoadingIndicatorAsync, .fbCalendarList .fbCalendarInlineHideButton .uiLoadingIndicatorAsync{margin-top:4px}
.fbCalendarList .fbCalendarItem .async_saving{visibility:visible}
.fbCalendarList .async_saving .uiCloseButton{display:none}
.fbCalendarList .fbCalendarItemContent{width:402px}
.fbCalendarList .fbCalendarHappyBirthdayer{width:300px}
.fbCalendarLocationPhoto .photoWrap{width:388px;height:298px}
.fbCalendarList .fbHiddenCalendarItem{display:none}
._4kdq #chatFriendsOnline._5d12{display:block}
#chatFriendsOnline._5d12{padding-bottom:0;padding-top:0}
#chatFriendsOnline._5d12 .uiHeader{padding-bottom:0;padding-top:0}
._5d12 .uiClearableTypeahead .clear, ._5d12 .uiTypeaheadDisabled .selected .clear{display:none}
._5d12 .fbFriendsOnlineFacepileItem a:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._5d12 .fbFriendsOnlineFacepile .fbFriendsOnlineFacepileItem{margin:3px 3px 0 0}
._5d12 ._562v{margin:0 -3px 0 -1px;padding:12px 0}
._5hou{background-color:#fff;-webkit-border-radius:5px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .25), 0 0 0 1px rgba(0, 0, 0, .15);color:#6a7180;font-size:10px;height:11px;line-height:10px;padding:0 4px;position:absolute;right:-2px;top:-2px;z-index:1}
._562v ._5hov{background-color:#c4c5c8;color:#fff;display:inline-block;height:32px;line-height:32px;margin-top:3px;text-align:center;text-decoration:none;width:32px}
._5df5{background-image:url(/rsrc.php/v2/yb/r/EYEB-psSjwA.png);background-repeat:no-repeat;background-size:auto;background-position:-201px -307px;height:12px;left:8px;margin-top:-6px;position:absolute;top:50%;width:12px}
._5d12 .inputsearch{background-image:none;padding-left:26px}
._5d12 .uiTypeahead{border:1px solid #d3d6db;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .06) inset;height:24px;line-height:24px;width:277px}
._5d12 .uiTypeahead .wrap{border:0}
._5d12 .DOMControl_placeholder{color:#a9a9a9}
._5d12 .textInput::-webkit-input-placeholder{color:#ddd}
._5d12 .textInput:-moz-placeholder{color:#ddd}
._5d12 .textInput:-ms-input-placeholder{color:#ddd}
._5d12 .typeaheadContainer{margin-bottom:4px}
#chatFriendsOnline._5d12 .fbChatTypeaheadView li{margin-right:0}
.sidebarMode #chatFriendsOnline{display:none}
#chatFriendsOnline .chatGoOnlineLink span{background:url(/rsrc.php/v2/yW/r/AebrcwrBeG6.png) no-repeat right 3px;padding:0 12px 0 2px}
#chatFriendsOnline .chatGoOnlineLink, #chatFriendsOnline .chatGoOnlineLink:hover, #chatFriendsOnline .chatReconnectLink, #chatFriendsOnline .chatReconnectLink:hover{margin:3px 0 0 7px;text-decoration:none}
#chatFriendsOnline .fbChatReconnecting{display:inline-block}
#chatFriendsOnline .chatReconnectLink .img{margin-top:7px;background-image:url(/rsrc.php/v2/yb/r/EYEB-psSjwA.png);background-repeat:no-repeat;background-size:auto;background-position:-297px -170px;height:13px;width:14px}
#chatFriendsOnline .fbChatOfflineMessage, #chatFriendsOnline .fbChatDisconnectedMessage{padding:0 5px 0 1px}
#chatFriendsOnline.disconnected .fbFriendsOnlineFacepileItem .img{opacity:.3}
#chatFriendsOnline .typeaheadContainer td:first-child{width:100%}
#chatFriendsOnline .sidebarBtn{display:none;margin-left:3px}
.sidebarCapable #chatFriendsOnline .sidebarBtn{display:inline-block}
#chatFriendsOnline .fbChatTypeaheadView li{margin-right:5px;padding-right:3px}
.listMemberFacepileFacebar .img{height:24px !important;width:24px !important}
.listMemberFacepileSearch .img,
.listMemberFacepileNormal .img{height:25px !important;width:25px !important}
.listMemberFacepileLarge .img{height:36px !important;width:36px !important}
.listMemberFacepileLargeCollection .img{height:31px !important;width:31px !important}
div.listMemberFacepileSearch{height:50px;width:50px}
div.listMemberFacepileFacebar{height:48px;width:48px}
div.listMemberFacepileNormal{width:51px;height:51px}
div.listMemberFacepileLarge{width:75px;height:75px}
div.listMemberFacepileLargeCollection{height:64px;width:64px}
div.listMemberFacepileHuge{width:101px;height:101px}
.listMemberFacepile{line-height:0;outline:none;white-space:normal}
.listMemberFacepile .firstImg{margin-right:1px}
.listMemberFacepile .lastImg{margin:1px 0 0 1px}
.listMemberFacepile.listMemberFacepileSearch .firstImg,
.listMemberFacepile.listMemberFacepileFacebar .firstImg{margin-right:0}
.listMemberFacepile.listMemberFacepileSearch .lastImg,
.listMemberFacepile.listMemberFacepileFacebar .lastImg{margin:0}
.listMemberFacepile.listMemberFacepileSearch .img{left:0;position:relative}
.listMemberFacepile .img{display:inline !important}
._5alt{margin-top:0}
.rhcFooterWrap{padding-left:6px}
.rhcFooterBorder{border-top:1px solid #ccc;border-bottom:1px solid #e9e9e9}
.rhcFooterCopyright{padding:10px 0 4px}
#rhc_footer_selector{vertical-align:top}
.rhcFooterSelectorButton .img{margin:6px 0 0 3px;vertical-align:top}
._8_9.ego_column{width:auto}
._8_9 .ego_section{margin:0}
._8_9 .ego_section .uiSideHeader{padding-bottom:0}
._8_9 .ego_section .ego_unit{margin:0;padding:8px 0}
._8_9 .ego_section .ego_unit ._4u8 .fbEmuMarketplace .uiSelectorMenu{margin-top:-3px}
._8_9.egoOrganicColumn .ego_section .ego_unit:last-child{padding-bottom:12px}
._8_9 .ego_section .adsCategoryIcon{margin-top:-2px}
._8_9 .ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._8_9 .ego_unit .action{margin-top:0}
._8_9 .ego_unit .action ._24x{outline:none}
._8_9 .ego_unit .ego_x, ._8_9 .ego_unit .emu_x{margin-right:-11px}
._4tot{margin-left:12px}
._8_9 .action .fbEmuContext{display:inline-block}
._8_9 .ego_unit .action ._24x, ._8_9 .action .fbEmuContext, ._8_9 .action .inlineContext{margin-top:8px}
._8_9 .action .inlineContext .fbEmuContext{margin-top:0}
._8_9 .ego_unit .action .fbEmuContext a, ._8_9 .ego_unit .messageBody, ._8_9 .ego_unit .messageBody a, ._8_9 .ego_unit .uiLinkSubtle, ._8_9 .ego_unit .eventRSVP a, ._8_9 ._a1z, ._8_9 ._a1z a{color:#898f9c}
._8_9 .fbEmuStreamStory .messageBody .whitespaceLink:hover, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#fff}
._8_9 ._5g4m{padding:0 4px}
._8_9 ._5g4m img{opacity:.8}
._8_9 .uiStream .uiStreamMessage{margin-bottom:0}
._8_9 .fbEmuStreamStory .fadStoryAttachment, ._8_9 .fbEmuStreamStory .fadStoryFooter{margin-top:8px}
._8_9 .fbEmuXThanksBody a{font-weight:bold}
._8_9 .ego_unit .uiStreamPassive a, ._8_9 .ego_unit .egoProfileTemplate .ego_title, ._8_9 .ego_unit .eventTitle, ._8_9 .ego_unit .fbEmuMainBody a, ._8_9 .ego_unit .fbEmuStreamStory .uiBlingBox .text{color:#232b37}
._8_9 .ego_unit .action .fbEmuContext a{display:inline;font-weight:bold}
._8_9 .ego_unit .lfloat{margin-right:10px}
._8_9 .ego_unit .lfloat > .img{padding-top:0}
._8_9 .ego_unit .image_body_block, ._8_9 .ego_unit .fbEmuContext, ._8_9 .ego_unit_container{line-height:16px;padding:0}
._8_9 .ego_section .ego_unit:first-child, ._8_9.egoOrganicColumn .ego_section .ego_unit:first-child{padding-top:10px}
._8_9 .ego_unit .uiStream .uiStreamMessage{font-size:12px}
._8_9 .ego_unit .uiStarsRatable{margin-top:5px}
._8_9 .egoPlaceComboInput .uiTypeaheadSpan{padding:0}
._8_9.egoOrganicColumn .ego_section .ego_unit{border-top:0;padding:6px 0}
._8_9 .uiStream .uiStreamPassive{color:#4e5665;font-size:12px}
._8_9 .uiStream .uiStreamPassive a{font-weight:bold;text-decoration:none}
._7ee .fbReminders{padding:8px 0}
._7ee .fbReminders:empty{padding:0}
._7ee .fbReminders .fbRemindersStory{margin:0 -12px;padding:4px 12px 3px}
._7ee .fbReminders .fbRemindersStory:hover{background-color:#f2f3f3}
._7ee .fbReminders .fbRemindersStory .fbRemindersRemove{margin-top:-1px}
._7ee .fbReminders .fbRemindersStory .fbRemindersRemove .fbRemindersCloseButton{margin-right:-7px}
._7ee .fbReminders .fbRemindersStory._8_8{padding-left:11px}
._7ee .fbReminders .fbRemindersStory em, ._7ee .fbReminders .fbRemindersStory .fbRemindersTitle{color:#232b37}
._7ee .img{margin-right:8px}
.ego_x{float:right;opacity:0}
.ego_unit:hover .ego_x{opacity:1}
.ego_image .img{vertical-align:bottom}
.ego_image_tiny .img{height:32px;width:32px}
.ego_image_small .img{height:50px;width:50px}
.ego_image_medium .img{width:80px}
.ego_title{display:block;font-weight:bold;line-height:13px;max-width:162px;word-wrap:break-word}
.ego_page .UIStandardFrame_Container{padding-left:0;width:980px}
.ego_page .UIStandardFrame_Content{width:720px}
.ego_page .UIStandardFrame_SidebarAds{width:auto}
.ego_column{width:244px}
.ego_section{margin-bottom:15px}
.ego_section .async_saving a{display:none}
.ego_section .indicator{display:none}
.ego_section .async_saving .indicator{display:inline}
.ego_section .adsCategoryIcon{vertical-align:-1px}
.ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.adsCategoryTitleLink{color:#666}
.egoGYSJ{margin-left:3px;margin-bottom:2px}
.egoGYSJImage{margin-top:2px}
.egoGYSJName{display:inline-block;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:162px}
div.egoProfileTemplate div{margin-top:2px;line-height:13px}
div.ego_unit_container div.clickable{cursor:hand;cursor:pointer}
div.egoProfileTemplateSubtitle{color:gray}
._52gq{float:right;opacity:0}
._52gr{padding-left:6px}
._52gr li{margin-bottom:8px;padding-right:4px}
._52gr #showall, ._52gr .showAll{text-align:center}
._52gr li + li{border-top:1px solid #e9e9e9;padding-top:8px}
._52gr li:hover ._52gq{opacity:1}
._52gs{font-weight:bold;margin-top:1px}
._5eel{display:block;margin-bottom:3px;width:300px}
._5b21 .showAll{text-align:center}
._5bqs{display:block;margin-bottom:10px;text-align:center}
._5cqd{margin-bottom:5px;margin-top:-6px}
._5cqe{margin-bottom:5px}
._5cqf{margin-bottom:8px;padding-left:6px;padding-right:4px}
._502j div{overflow:hidden}
._502k{padding-right:5px;text-align:right}
._561s{line-height:13px;margin-top:2px}
._53ee{border-bottom:1px solid #e9e9e9;margin-top:-5px}
._6nw ._53ee{margin-top:0}
html ._58op{padding:0 4px}
html ._5h3q{margin-left:10px;margin-top:4px;padding:2px 4px}
._54bc{display:inline-block}
html ._5ba_ ._54bc{padding-right:40px;padding-top:8px}
html ._5ba_ ._58op{margin-top:3px}
html ._5ba_._5h3r ._54bc{padding-right:0}
._6nw ._5ba_._5h3r ._54bc{padding-right:40px}
._5cl-{overflow:hidden}
html ._54bc .img{margin-left:5px;position:relative;top:-1px;vertical-align:middle}
._569r ._54bc{visibility:hidden}
._569r:hover ._54bc{visibility:visible}
.fbReminders .fbRemindersStory{padding:3px 5px}
.fbReminders .fbRemindersIcon{height:16px;width:16px}
.fbReminders .fbRemindersStory .fbRemindersRemove{margin-top:-1px;display:none}
.fbReminders .fbRemindersStory .fbRemindersRemove.openMenu{display:block}
.fbReminders .celebrationStory .fbRemindersRemove{display:block;visibility:hidden}
.fbReminders .celebrationStory:hover .fbRemindersRemove{visibility:visible}
.fbReminders .fbRemindersStory:hover{background-color:#eceff5;cursor:pointer}
.fbReminders .fbRemindersStory:hover a{text-decoration:none}
.fbReminders .fbRemindersStory:hover .fbRemindersRemove, .fbReminders .fbRemindersStory a{display:block}
.fbReminders .fbRemindersStory .fbRemindersTitle{color:#3b5998}
.fbRemindersContent .fbRemindersFooter{text-align:center}
.fbRemindersContent .fbCalendarList .fbCalendarLabel{width:60px}
.fbRemindersContent .fbCalendarList .fbCalendarItemContent{width:330px}
.fbRemindersContent .fbRemindersPokeBack{white-space:nowrap}
.fbRemindersContent .uiScrollableArea .jewelHeader{background-color:#fff}
.fbRemindersContent .fbRequestList, .fbRemindersContent .jewelHeader, .fbRemindersContent .friendBrowserForm{margin-right:10px}
.fbBirthdayRemindersContent .uiScrollableAreaWithShadow.contentBefore:before{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);top:-2px}
.fbBirthdayRemindersContent .uiScrollableAreaWithShadow.contentAfter:after{background-color:#fff;-webkit-box-shadow:0 -1px 2px rgba(0,0,0,0.3);height:6px}
.fbBirthdayRemindersContent .fbRemindersTitleSeeAll{color:#627aad}
.fbBirthdayRemindersContent .fbRemindersSubtitleActionList{color:#adb2bb}
.fbBirthdayRemindersContent .fbRemindersSubtitleAgeText{color:#6a7180}
.fbBirthdayRemindersContent .fbRemindersTodayHeader, .fbBirthdayRemindersContent .fbRemindersSublistHeader{color:gray;font-size:11px}
.fbBirthdayRemindersContent
.fbRemindersBirthdayList
.fbRemindersBirthdayListItem{border-color:#e9eaed}
.fbRemindersLoadingIndicator{display:block;padding:50px;text-align:center}
.fbRemindersStickyArea{background-color:#fff}
.uiStreamSecondaryTime .img{bottom:-2px;position:relative;vertical-align:top}
._55pe{display:inline-block;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap}
.webkit ._55pe{vertical-align:baseline}

.uiMediaThumb{background:#fff;border:1px solid #ccc;display:inline-block;outline:none;padding:4px;position:relative;vertical-align:bottom}
.loading.uiMediaThumb{background:url(/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif) no-repeat center center}
.loading.uiMediaThumb i{opacity:.3}
.uiMediaThumbSelected{background-color:#3b5998;border-color:#3b5998}
.uiMediaThumb:hover, .uiMediaThumb:hover .uiMediaThumbWrap, .uiMediaThumb:active, .uiMediaThumb:active .uiMediaThumbWrap, .uiMediaThumb:focus, .uiMediaThumb:focus .uiMediaThumbWrap{border-color:#3b5998}
.uiMediaThumb i{background-color:#eee;background-position:center 25%;background-repeat:no-repeat;display:block}
.uiMediaThumbSmall i{height:54px;width:73px}
.uiMediaThumbMedium i{height:85px;width:114px}
.uiMediaThumbLarge i{height:116px;width:149px}
.uiMediaThumbHuge i{height:120px;width:161px}
.uiMediaThumbAlb{margin-bottom:5px;margin-right:5px}
.uiMediaThumbWrap{background:#fff;border:1px solid #ccc;left:4px;padding:4px;position:absolute;top:4px}
.uiMediaThumbAlbSmall, .uiMediaThumbSmall .uiMediaThumbWrap i{height:49px;width:68px}
.uiMediaThumbAlbMedium, .uiMediaThumbMedium .uiMediaThumbWrap i{height:80px;width:109px}
.uiMediaThumbAlbLarge, .uiMediaThumbLarge .uiMediaThumbWrap i{height:111px;width:144px}
.uiMediaThumbAlbHuge, .uiMediaThumbHuge .uiMediaThumbWrap i{height:115px;width:156px}
._43ql{border:solid #fff;border-width:1px 0 0 1px;bottom:0;height:5px;position:absolute;right:0;width:5px}
._5d12 ._43ql{border:none;height:8px;width:8px}
.chatOnline ._43ql{background:#84ca5a;background:-webkit-gradient(linear, center top, center bottom, from(#88cc5f), to(#7bc64d));background:-webkit-linear-gradient(#88cc5f, #7bc64d)}
._5d12 .chatOnline ._43ql{background-image:url(/rsrc.php/v2/yb/r/EYEB-psSjwA.png);background-repeat:no-repeat;background-size:auto;background-position:-81px -432px;z-index:1}
.chatOffline ._43ql, .chatIdle ._43ql, .chatMobile ._43ql{border:none}
.openToggler > a._4-s1, .openToggler > a._4-s1:hover, .openToggler > a._4-s1:focus, .openToggler > a._4-s1:active{background-color:#6d84b4;background-image:none;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none;color:#fff}

#bootloader_XKYxN { height: 42px; }
.bootloader_XKYxN { display:block !important; }